<div class="game-block">
  <div class="game">
    <form (ngSubmit)="spin()">
      <div class="error-message" *ngIf="errMessage">{{errMessage}}</div>
      <div class="columns-container">
        <div class="column">
          <div class="slot" [class.spin-animation]="isSpinning">
            {{ start ? resultSlots[0].value : defaultSlots}}
          </div>
        </div>
        <div class="column">
          <div class="slot" [class.spin-animation]="isSpinning">
            {{ start ? resultSlots[1].value : defaultSlots}}
          </div>
        </div>
        <div class="column">
          <div class="slot" [class.spin-animation]="isSpinning">
            {{ start ? resultSlots[2].value : defaultSlots}}
          </div>
        </div>
      </div>
      <button type="submit" [disabled]="isSpinning">spin</button>
    </form>
  </div>
</div>
